@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 75%, transparent 80% 100%),
    conic-gradient(rgb(245, 178, 54) 70%, rgba(245, 178, 54, 0.5) 0);    
}

.slider::-webkit-scrollbar { 
  display: none; 
}

.progress-bar::before {
  content: "70%";
  font-size: 22px;
  font-weight: 800;
  color: #333;
}
